<footer class="container footer">
	<div class="footer__logo">
		<div class="footer__logo-img">
			<img src="./img/logo.png" alt="logo">
		</div>
		<div class="footer__logo-title">Smart IT</div>
	</div>
	<div class="footer__info">
		<div class="footer__info-header">Адреса</div>
		<div class="footer__info-value"><a href="/">м. Київ, вул. Констянтина Островського 18, 486050</a></div>
		<div class="footer__info-header">Телефон</div>
		<div class="footer__info-value"><a href="tel:(044)40127246">(044)401-27-24</a><a
				href="tel:(093)67566577">(093)675-66-57</a></div>
		<div class="footer__info-header">Електронна пошта</div>
		<div class="footer__info-value"><a href="mailto:smartit@email.com">smartit@email.com</a></div>
		<div class="footer__nav">
			<ul class="footer__social">
				<li class="footer__li"><a href="/">
						<img src="./img/social/git.svg" alt="Github">
					</a></li>
				<li class="footer__li"><a href="/">
						<img src="./img/social/link.svg" alt="Link">
					</a></li>
				<li class="footer__li"><a href="/">
						<img src="./img/social/telegram.svg" alt="Telegram">
					</a></li>
			</ul>
		</div>
	</div>
	<div class="footer__courses">
		<h4 class="footer__courses-header">Курси</h4>
		<ul class="footer__courses-ul">
			<li class="footer__courses-li"><a href="/">Програмування</a></li>
			<li class="footer__courses-li"><a href="/">Тестування</a></li>
			<li class="footer__courses-li"><a href="/">Менеджмент</a></li>
			<li class="footer__courses-li"><a href="/">Маркетинг</a></li>
			<li class="footer__courses-li"><a href="/">Дизайн</a></li>
			<li class="footer__courses-li"><a href="/">Дитячі курси</a></li>
		</ul>
	</div>
	<div class="footer__support">
		<h4 class="footer__support-header">Ми підтримуємо</h4>
		<div class="footer__support-value">
			<img src="./img/visa.png" alt="Visa">
		</div>
	</div>
</footer>