<header class="container header">
	<div class="header__logo" data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
		<div class="header__logo-img">
			<img src="./img/logo.png" alt="logo">
		</div>
		<div class="header__logo-title">Smart IT</div>
	</div>
	<div class="header__nav">
		<div class="header__backdrop" id="headerBackdrop" onclick="navToggle()"></div>
		<ul class="header__ul" id="headerUl">
			<li class="header__li"><a class="header__a" href="#courses">Курси</a></li>
			<li class="header__li"><a class="header__a" href="#advantages">Переваги</a></li>
			<li class="header__li"><a class="header__a" href="#response">Відгуки</a></li>
			<li class="header__li"><a class="header__a" href="#teacher">Викладачі</a></li>
				
			<span class="material-icons icon-close" onclick="navToggle()">close</span>
		</ul>
		<span class="material-icons icon-menu" onclick="navToggle()">menu</span>
	</div>
</header>
