<section class="container section-welcome" id="welcome">
    <div class="section-welcome__info"  data-aos="fade-right">
        <h1 class="section-welcome__title">Smart IT - це школа для тих, кому потрібні справжні навички, а не просто
            сертифікат!</h1>
        <p class="section-welcome__desc">Настав час реалізувати свою мрію, тисни на кнопку "Спробувати курс", та
            вривайса у сферу IT можливостей.</p>
        <a href="/" class="section-welcome__btn">cпробувати курс</a>
    </div>
    <div class="section-welcome__img">
        <img src="./img/computer.png" alt="computer">
    </div>
</section>