<section class="container section-response">
    <div class="section-response__title" data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">Відгуки <span>студентів</span></div>
     <div class="section-response__slider">
        <div class="owl-carousel owl-theme">
            <div class="response-item" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="response-item__img">
                    <img src="./img/response/response-woman-1.png" alt="user">
                </div>
                <div class="response-item__info">
                    <h5 class="response-item__name">Aннa, Київ</h5>
                    <p class="response-item__text">SMART IT - це та школа програмування, яка підтримує і допомогає не тільки
                        на етапі навчання, але після. Викладачі зацікавленні в успіху своїх студентів.</p>
                    <div class="response-item__actions">
                        <img src="./img/response/dislike.png" alt="dislike">
                        <img src="./img/response/like.png" alt="like">
                    </div>
                </div>
            </div>
            <div class="response-item" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="response-item__img">
                    <img src="./img/response/response-man-1.png" alt="user">
                </div>
                <div class="response-item__info">
                    <h5 class="response-item__name">Іван, Львів</h5>
                    <p class="response-item__text">SMART IT - це та школа програмування, яка підтримує і допомогає не тільки
                        на етапі навчання, але після. Викладачі
                        зацікавленні в успіху своїх студентів.</p>
                    <div class="response-item__actions">
                        <img src="./img/response/dislike.png" alt="dislike">
                        <img src="./img/response/like.png" alt="like">
                    </div>
                </div>
            </div>
            <div class="response-item" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="response-item__img">
                    <img src="./img/response/response-woman-2.png" alt="user">
                </div>
                <div class="response-item__info">
                    <h5 class="response-item__name">Катя, Одеса</h5>
                    <p class="response-item__text">SMART IT - це та школа програмування, яка підтримує і допомогає не тільки
                        на етапі навчання, але після. Викладачі
                        зацікавленні в успіху своїх студентів.</p>
                    <div class="response-item__actions">
                        <img src="./img/response/dislike.png" alt="dislike">
                        <img src="./img/response/like.png" alt="like">
                    </div>
                </div>
            </div>
            <div class="response-item" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="response-item__img">
                    <img src="./img/response/response-man-2.png" alt="user">
                </div>
                <div class="response-item__info">
                    <h5 class="response-item__name">Артем, Житомир</h5>
                    <p class="response-item__text">SMART IT - це та школа програмування, яка підтримує і допомогає не тільки
                        на етапі навчання, але після. Викладачі
                        зацікавленні в успіху своїх студентів.</p>
                    <div class="response-item__actions">
                        <img src="./img/response/dislike.png" alt="dislike">
                        <img src="./img/response/like.png" alt="like">
                    </div>
                </div>
            </div>
            <div class="response-item" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="response-item__img">
                    <img src="./img/response/response-woman-3.png" alt="user">
                </div>
                <div class="response-item__info">
                    <h5 class="response-item__name">Вероніка, Дніпро</h5>
                    <p class="response-item__text">SMART IT - це та школа програмування, яка підтримує і допомогає не тільки
                        на етапі навчання, але після. Викладачі
                        зацікавленні в успіху своїх студентів.</p>
                    <div class="response-item__actions">
                        <img src="./img/response/dislike.png" alt="dislike">
                        <img src="./img/response/like.png" alt="like">
                    </div>
                </div>
            </div>
            <div class="response-item" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="response-item__img">
                    <img src="./img/response/response-man-3.png" alt="user">
                </div>
                <div class="response-item__info">
                    <h5 class="response-item__name">Віталій, Полтава</h5>
                    <p class="response-item__text">SMART IT - це та школа програмування, яка підтримує і допомогає не тільки
                        на етапі навчання, але після. Викладачі
                        зацікавленні в успіху своїх студентів.</p>
                    <div class="response-item__actions">
                        <img src="./img/response/dislike.png" alt="dislike">
                        <img src="./img/response/like.png" alt="like">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



