<section class="container section-courses" id="courses">
    <div class="section-courses__img">
        <img src="./img/teacher.png" alt="teacher">
    </div>
    <div class="section-courses__info">
        <h1 class="section-courses__title">Курси в школі SMART IT</h1>
        <div class="section-courses__about" data-aos="fade-left"
     data-aos-anchor="#example-anchor"
     data-aos-offset="500"
     data-aos-duration="500">
            <div class="section-courses__item">
                <div class="section-courses__item-info">
                    <div class="section-courses__item-img">
                        <img src="./img/icon/icon-block.png" alt="icon-block">
                    </div>
                    <h3 class="section-courses__item-title">Програмування</h3>
                </div>
                    <p class="section-courses__item-desc">Курси: Back-end, Front-end, Machine Learning та DevOps</p>
            </div>
            <div class="section-courses__item">
                <div class="section-courses__item-info">
                    <div class="section-courses__item-img">
                        <img src="./img/icon/icon-program.png" alt="icon-program">
                    </div>
                    <h3 class="section-courses__item-title">Тестування</h3>
                </div>
                <p class="section-courses__item-desc">Курси тестувальників: QA Manual та QA Automation на Java, Phyton та
                    JavaScript, а також підготовка до сертифкації ISTQB
                </p>
            </div> 
            <div class="section-courses__item">
                <div class="section-courses__item-info">
                    <div class="section-courses__item-img">
                        <img src="./img/icon/icon-hr.png" alt="icon-hr">
                    </div>
                    <h3 class="section-courses__item-title">Менеджмент</h3>
                </div>
                <p class="section-courses__item-desc">Курси менеджменту: Project та Product Management, Бізнес-аналізу, а також
                    рекрутенгу та HR</p>
            </div>
            <div class="section-courses__item">
                <div class="section-courses__item-info">
                    <div class="section-courses__item-img">
                        <img src="./img/icon/icon-like.png" alt="icon-like">
                    </div>
                    <h3 class="section-courses__item-title">Маркетинг</h3>
                </div>
                    <p class="section-courses__item-desc">Курси інтернет маркетингу, SMM</p>
            </div>
            <div class="section-courses__item">
                <div class="section-courses__item-info">
                    <div class="section-courses__item-img">
                        <img src="./img/icon/icon-switch.png" alt="icon-switch">
                    </div>
                    <h3 class="section-courses__item-title">Дизайн</h3>
                </div>
                    <p class="section-courses__item-desc">Курси дизайну: Основ WEB-дизайну, UI/UX дизайну</p>
            </div>
            <div class="section-courses__item">
                <div class="section-courses__item-info">
                    <div class="section-courses__item-img">
                        <img src="./img/icon/icon-kid.png" alt="icon-kid">
                    </div>
                    
                    <h3 class="section-courses__item-title">Дитячі курси</h3>
                </div>
                    <p class="section-courses__item-desc">Курси програмування та дизайну для дітей віком від 14 до 17 років</p>
            </div>
        </div>
    </div>
</section>