html,
body {
  height: 100%;
}
body {
  font-family: var(--ff);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.wrapper {
  max-width: 1920px;
  margin-inline: auto;
}
.container {
  max-width: calc(1400px + 40px);
  margin-inline: auto;
  padding: 20px;
}
.main {
  padding: 20px;
}
html,
body {
  scroll-behavior: smooth;
}
p {
  margin: 0;
}
a {
  color: var(--c-text-white);
}
